@font-face {
  font-family: "Ubuntu web";
  src: local("Ubuntu"),
  url(Ubuntu-R.ttf);
}
img {
  width: 50px;
  height: 50px;
  transition-duration: 0.4s;
  padding-right: 20px;
  cursor: pointer;
}
img:hover{
  opacity: 50%;
}
img:onclick{
  background-color: white;
  opacity:30%;
}
img.vcss{
  padding-bottom: 10px;
}
img.vcss:hover{
  opacity: 50%;
}
img.vcss:onclick{
  background-color: white;
  opacity:30%;
}
a{
  color: LightSteelBlue;
}
a:visited{
  color : LightSteelBlue;
}
a:hover{
  color : LightSteelBlue;
  opacity : 50%;
}
footer{
  text-align: center;
  color: MintCream;
}
body {
  background-color: #34495e;
  font-family: "Ubuntu web";
  text-align: center;
  color: white;
}
.pres{
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 12px;
}
.button:hover {
  background-color: #ffffff;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:onclick{
  background-color: #68768A;
}
.invisible{
  opacity: 0%;
  cursor: default;
  z-index: 2;
}
.invisible:hover{
  opacity: 0%;
}
.invisible:onclick{
  background-color: white;
  opacity:30%;
}

.button:disabled{
  background-color: grey;
  border: 2px solid grey;
}
.button:disabled:hover{
  background-color: grey;
  border: 2px solid grey;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.24), 0 0px 0px 0 rgba(0,0,0,0.19);
  color: white;
  cursor: default;
}
.button:disabled:onclick{
  background-color: grey;
  border: 2px solid grey;
  box-shadow: 0;
}
.prop{
  cursor: default;
  z-index: 2;
}
.prop:hover{
  opacity: 100%;
}
.prop:onclick{
  opacity: 100%;
}
.res{
  cursor: default;
  z-index: 2;
}
.res:hover{
  opacity: 100%;
}
.res:onclick{
  opacity: 100%;
}
